@page "/"

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open ID Connect Web Application</title>
</head>
<body>
    <h1>Hello Web!</h1>
</body>
</html>
